/*------------------------background----------------------*/

@keyframes BGanimate {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(100%);
    }
}
section:before {
    animation: BGanimate 5s linear infinite;
}

@keyframes animateBG {
    50% {
        background-color: #00ff00;
        transition: 1.5s;
    }
    100% {
        background-color: #000000;
        transition: 1.5s;
    }
}
@keyframes animateBG2 {
    0% {
        background-color: #000;
    }
    25% {
        background-color: #00ff00;
        transition: 1.5s;
    }
    100% {
        background-color: #000000;
        transition: 1.5s;
    }
}
@keyframes animateBG3 {
    0% {
        background-color: #000;
    }
    10% {
        background-color: #00ff00;
        transition: 1.5s;
    }
    100% {
        background-color: #000000;
        transition: 1.5s;
    }
}
@keyframes hi{
    from {
        transform: translateY(50%) scale(0, 0); opacity:0;
    }
}
.animateBG {
     animation: animateBG 2s linear infinite;
 }
.animateBG2 {
    animation: animateBG2 7s linear infinite;
}
.animateBG3 {
    animation: animateBG3 3s linear infinite;
}
